body {
	margin: 0;
    /* background: black */
}

#content {
	text-align: center;
	width: 100%;
}

/* --------------------------------*/
/* Main room */
/* -------------------------------- */

#content 
#mainroom {
	margin: 0 auto;
	height: 100vh;
	width: 190vh;
	overflow: hidden;
	background-size: cover;
	background-image: url('images/background.JPG');
}

#mainroom p {
	margin: 0; /*temporary fix - to remove*/
}

.teachers {
	border: solid white;
	cursor: pointer;
}

#ollie {
	position: relative;
	width: 15vw;
	height: 15vh;
	top: 10vh;
	left: 125vh;
	
}

#kelly {
	position: relative;
	width: 10vw;
	height: 20vh;
	top:-10vh;
	left: 140vh;
}

#jv {
	position: relative;
	width: 15vh;
	height: 15vh;
	top:15vh;
	left: 80vh;
}

#han {
	position: relative;
	width: 15vh;
	height: 15vh;
	top:10vh;
	left: 20vh;
}

#sarrah {
	position: relative;
	width: 10vw;
	height: 15vh;
	top:1vh;
	left: 15vh;
}

#quote-box{
    position: fixed;
    top: 100px;
    left: 30vw;
    padding: 2vw;
    text-align: center;
	
	background: #afbcbe;
    border-radius: .4em;
    width: 20vw;
}

#quote-box:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 41px solid transparent;
	border-top-color: #afbcbe;
	border-bottom: 0;
	border-left: 0;
	margin-left: -20.5px;
	margin-bottom: -41px;
}