
* {
	margin: 0;
    /* background: black */
}

#content {
	text-align: center;
	width: 100%;
}

.room {
	margin: 0 auto;
	height: 100vh;
	width: 195vh;
	background-size: cover;
	position: relative;
}

#home-button {
	position: fixed;
	top: 5vh;
	left: 5vh;
	padding: 1vh;
	border: none;
	background-color: #6d9297;
}

/* --------------------------------*/
/* Main room */
/* -------------------------------- */

#mainroom {
	background-image: url('images/mainRoom1.JPG');
}

#mainroom p {
	margin: 0; /*temporary fix - to remove*/
}

.teachers {
	cursor: pointer;
}

.exclamation {
	display: none;
	background-image: url('images/exclamation-mark.png');
	background-repeat: no-repeat;
	background-size: 5vh 5vh;
	background-position: 50% 50%;
	height: 5vh;
	width: 5vh;
}

#han {
	position: absolute;
	width: 15vh;
	height: 25vh;
	top:56vh;
	left: 15vh;
}

#exclam-han {
	position: absolute;
	top:48vh;
	left: 16vh;
}

#han:hover + #exclam-han{
	display: block;
}

#sarrah {
	position: absolute;
	width: 15vh;
	height: 25vh;
	top:56vh;
	left: 45vh;
}

#exclam-sarrah {
	position: absolute;
	top:48vh;
	left: 46vh;
}

#sarrah:hover + #exclam-sarrah{
	display: block;
}

#jv {
	position: absolute;
	width: 15vh;
	height: 15vh;
	top:56vh;
	left: 80vh;
}

#exclam-jv {
	position: absolute;
	top:48vh;
	left: 90vh;
}

#jv:hover + #exclam-jv{
	display: block;
}

#ollie {
	position: absolute;
	width: 10vh;
	height: 45vh;
	top: 40vh;
	left: 118vh;
}

#exclam-ollie {
	position: absolute;
	top: 33vh;
	left: 123vh;
}

#ollie:hover + #exclam-ollie{
	display: block;
}

#kelly {
	position: absolute;
	width: 16vh;
	height: 30vh;
	top:43vh;
	left: 161vh;
}

#exclam-kelly {
	position: absolute;
	top: 35vh;
	left: 163vh;
}

#kelly:hover + #exclam-kelly{
	display: block;
}


/* Add div for the ringing bowl */

/* --------------------------------*/
/* Han
---------------------------------- */
#hanBackground {
	background-image: radial-gradient(100vh at 50% 70%, #f5c507, rgb(1, 161, 129));
	animation: pulse 3s infinite alternate;
	height: 100%;
	width: 100%;
	position: absolute;
}

@keyframes pulse {
	0% {
	  opacity: 0.8;
	}
	100% {
	  opacity: 1;
	}
}

#hanRoom {
	background-image: url('images/han7.png');
}

#mindfulness {
	left: 57vh;
	top: 10vh;
	width: 60vh;
	height: 60vh;
	position: relative;
	border-radius: 50%;
}

#mindfulness .technic {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6em;
	height: 6em;
	line-height: 40px;
	background-color: rgb(102, 177, 162);
	border: solid #16A085;
	border-radius: 50%;
	margin: -2em; 
}

.arrow-right {
	margin: 2vh auto 0;
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 20px solid #f5d143de;
  }

#mindfulness .technic:hover {
	background-color:#16A085;
	cursor: pointer;
}


.deg270 { transform: rotate(270deg) translate(30vh) rotate(-270deg); }
.deg320 { transform: rotate(320deg) translate(30vh) rotate(-320deg); }
.deg45 { transform: rotate(45deg) translate(30vh) rotate(-45deg); }
.deg0 { transform: translate(30vh); } /* 30vh = half the width of the wrapper */
.deg135 { transform: rotate(135deg) translate(30vh) rotate(-135deg); }
.deg180 { transform: translate(-30vh); }
.deg220 { transform: rotate(220deg) translate(30vh) rotate(-220deg); }

/* --------------------------------*/
/* Sarrah
---------------------------------- */

/* #sarrah {
	position: relative;
	width: 10vw;
	height: 15vh;
	top:1vh;
	left: 15vh;
} */

#sarrahRoom {
	background-image: url('images/sarrah1.JPG')

}

/* .popupScroller {
	overflow-y: auto;
  height: 100px;
} */

#introFeedback {
	margin: 0 auto;
	top: 5vh;
	right: 70vh;
	width: 50vh;
	height: 50vh;
	position: relative;
	
}

#stressRegulation {
	margin: 0 auto;
	top: 13vh;
	right: 70vh;
	width: 50vh;
	height: 50vh;
	position: relative;
	
}

#internalDialogue {
	margin: 0 auto;
	top: 5vh;
	right: 40vh;
	width: 50vh;
	height: 50vh;
	position: relative;
	
}

#biasAlly {
	margin: 0 auto;
	bottom: 2vh;
	right: 10vh;
	width: 50vh;
	height: 50vh;
	position: relative;
	
}

#agileTeamwork {
	margin: 0 auto;
	top: 7vh;
	right: 10vh;
	width: 50vh;
	height: 50vh;
	position: relative;
	
}

#communicationConflict {
	margin: 0 auto;
	bottom: 2vh;
	left: 17vh;
	width: 50vh;
	height: 50vh;
	position: relative;
	
}

#trustEmpathy {
	margin: 0 auto;
	bottom: 10vh;
	left: 50vh;
	width: 50vh;
	height: 50vh;
	position: relative;
	
}

#retroReflection {
	margin: 0 auto;
	top: 0vh;
	left: 50vh;
	width: 50vh;
	height: 50vh;
	position: relative;
	
}

#sarrahPopup {
	margin: 0 auto;
	top: 80vh;
	right: 47vh;
	width: 50vh;
	height: 50vh;
	position: fixed;
	
}


/* --------------------------------*/
/* Kelly
---------------------------------- */

#kelly-background {
	margin: 0 auto;
	height: 100vh;
	width: 195vh;
	background-size: cover;
	position: relative;
	background-image: url('images/kelly5.JPG');
}

#potato-box {
	width: 25vh;
	height: 13vh;
	position: fixed;
	top: 87vh;
	left: 35vh;
	cursor: pointer;
}

#codewars-link {
	position: fixed;
	top: 62vh;
	left: 116vh;
	width: 70vh;
	height: 34vh;
}

/* --------------------------------*/
/* QuoteBox
---------------------------------- */

.deg270 { transform: rotate(270deg) translate(30vh) rotate(-270deg); }
.deg320 { transform: rotate(320deg) translate(30vh) rotate(-320deg); }
.deg45 { transform: rotate(45deg) translate(30vh) rotate(-45deg); }
.deg0 { transform: translate(30vh); } /* 30vh = half the width of the wrapper */
.deg135 { transform: rotate(135deg) translate(30vh) rotate(-135deg); }
.deg180 { transform: translate(-30vh); }
.deg220 { transform: rotate(220deg) translate(30vh) rotate(-220deg); }



#quote-box {
  position: fixed;
  top: 0;
  left: 30vw;
  padding: 2vw;
  text-align: center;
  background: #6d9297;
  border-radius: 0.4em;
  width: 20vw;
}

#quote-box:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 41px solid transparent;
	border-top-color: #6d9297;
	border-bottom: 0;
	border-left: 0;
	margin-left: -20.5px;
	margin-bottom: -41px;
}

#hanRoom > #quote-box:after {
	display: none
}

#hanRoom > #quote-box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 41px solid transparent;
  border-bottom-color: #6d9297;
  border-top: 0;
  margin-left: -25.5px;
  margin-top: -25.5px;
}


/* Pop Up Box */

#popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
}

#popup-link-box {
	cursor: pointer;
}

#popup {
  width: 70vw;
  height: 70vh;
  margin-left: 10vw;
  margin-top: 10vh;
  background: #fff;
  border-radius: 5vw;
  padding: 5vh 5vw;
  transition: all 1s ease-in-out;
}


#popup-close {
  position: absolute;
  top: 15vh;
  right: 15vw;
  transition: all 200ms;
  font-size: 5vw;
  font-weight: bold;
  text-decoration: none;
	color: #333;
	cursor: pointer;
}

#popup-close:hover {
  color: #6d9297;
}

#jv-image {
	margin: 0 auto;
	height: 100vh;
	width: 203vh;
	background-size: cover;
	position: relative;
	background-image: url('images/jv.JPG')
}

#jv-box {
	height: 70vh;
	overflow: scroll;
	width: 110vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;	
	justify-content: space-around;
	top: 24vh;
	left: 62vh	
}	

#jv-box p {
display: block;
padding: 7px;

}
